﻿<div id="main" role="main"  >
    <div id="ribbon">
        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>
        <ol class="breadcrumb">
            <li>Admission Ass Type</li>

        </ol>
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">
                    <i class="fa fa-desktop fa-fw "></i> Admission Ass Type
                </h1>
            </div>
        </div>
        <!-- widget grid -->

        <section id="widget-grid" class="">
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 sortable-grid ui-sortable">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
                        <header role="heading">
                            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                            <h2>Default Tabs with border </h2>
                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>
                        <!-- widget div-->
                        <div role="contentinfo" class="myForm">
                            <div class="row">
                                <!-- -- -- -- -- -- -- -- -- -- -- -- -- col-md-5 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
                                <div class="col-md-5">
                                    <div class="leftTitle">Admission Ass Type List</div>
                                    <div class="leftSearch clearfix">
                                        <div class="form">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3" for="appendbutton">search</label>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="input-group">
                                                                <input ng-model="search" class="form-control" placeholder="Search" id="appendbutton" type="text">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-search"></i>
                                                                    </button><button class="btn btn-default" type="button">
                                                                        <i class="fa fa-refresh"></i>
                                                                    </button>
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-list"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="leftCat">
                                        <div class="table-responsive" style="border-top:1px solid #ddd;border-bottom:1px solid #ddd">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>ArabicName</th>
                                                        <th>EnglishName</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody dir-paginate="item in admissionAssTypesList|filter:search|itemsPerPage:12">
                                                    <tr>
                                                        <td>{{item.Id}}</td>
                                                        <td>{{item.NameAr}} </td>
                                                        <td>{{item.NameEn}}</td>
                                                        <td>
                                                           <button class='btn btn-xs btn-default' data-original-title='Edit Row' ng-click='getItem(item.Id)'><i class='fa fa-pencil'></i></button>
                                                            <button class='btn btn-xs btn-default' data-original-title='Cancel' ng-click='delete(item.Id)'><i class='fa fa-times'></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
                                                <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true"> </dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                                <!-- -- -- -- -- -- -- -- -- -- -- end of col-md-5 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
                                <!-- -- -- -- -- -- -- -- -- -- -- -- -- col-md-7 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
                                <div class="col-md-7">
                                    <div class="leftTitle"><i></i>Admission Ass Type Details</div>
                                    <div class="divTabs">
                                        <uib-tabset id="myTab1" class="nav nav-tabs bordered">
                                            <uib-tab class="active" index="0" heading="person data">
                                                <!-----------------main student info----------------------------------------->
                                                <form class="form-horizontal" id="myformelements" name="admissionAssTypesForm"  novalidate role="form">
                                                    <div class="divTabsTitle clearfix">
                                                        <a ng-click="newItem()" class="btn  btn-success pull-right"><i class="fa fa-pencil-square-o"></i>New Student</a>
                                                        <a  class="btn btn-primary  pull-right" ng-click="save(admissionAssTypesForm)" ng-disabled="admissionAssTypesForm.$invalid"><i class="fa fa-save"></i> {{saveText}} </a>

                                                        <!--<button type="button" ng-disabled="editadmissionAssTypes.stu00_id==undefined" ng-click="cancelForm()" class="btn btn-danger pull-right"><i class="fa fa-reply"></i> cancel</button>-->
                                                    </div>      
                                                    <div class="form-group row " ng-class="{'has-error' : admissionAssTypesForm.adat__enName.$error.required  && admissionAssTypesForm.adat__enName.$dirty}">
                                                        <div class="col-sm-12">
                                                            <label for="stu00_sno" class="control-label">English Name</label>
                                                            <input type="text" id="adat__enName" name="adat__enName" class="form-control"
                                                                   ng-model="model.adat__enName" ng-required="true" />
                                                            <span class="help-block" ng-if="admissionAssTypesForm.adat__enName.$error.required  && admissionAssTypesForm.adat__enName.$dirty">English Name is required</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row " ng-class="{'has-error' : admissionAssTypesForm.adat__arName.$error.required  && admissionAssTypesForm.adat__arName.$dirty}">
                                                        <div class="col-sm-12">
                                                            <label for="adat__arName" class="control-label">Arabic Name</label>
                                                            <input type="text" id="adat__arName" name="adat__arName" class="form-control"
                                                                   ng-model="model.adat__arName" ng-required="true" />
                                                            <span class="help-block" ng-if="admissionAssTypesForm.adat__arName.$error.required  && admissionAssTypesForm.adat__arName.$dirty">Arabic Name is required</span>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="alert alert-danger" ng-if="hasFormError">{{formErrors}}</div>
                                                </form>
                                            </uib-tab>
                                         
                                        </uib-tabset>
                                    </div>
                                    <!-- -------- -->
                                </div>
                                <!-- -- -- -- -- -- -- -- -- -- -- end of col-md-7 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->

                            </div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
        </section>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<style>
    .leftCat ul{display:flex!important}
</style>
<link href="../../../../Content/msStyle.css" rel="stylesheet" />