﻿@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@



<!DOCTYPE html>
<html lang="en-us" ng-app="App">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title> SmartAdmin </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->SSSS
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/smartadmin-rtl.min.css">

    <!-- We recommend you use "your_style.css" to override SmartAdmin
    specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/demo.min.css">
    <link href="~/Content/angular-ui-notification.min.css" rel="stylesheet" />
    <!-- FAVICONS -->
    <link rel="shortcut icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- Specifying a Webpage Icon for Web Clip
    Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="~/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="~/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/img/splash/iphone.png" media="screen and (max-device-width: 320px)">


    <link href="~/Content/Education_freebie/stylesheet.css" rel="stylesheet" />
    <style>
        .help-block {
            text-align: center;
        }

        .form-group {
            padding: 5px;
        }

        .form-horizontal .form-group {
            margin-left: 0px;
            margin-right: 0px;
        }

        .myForm .row .form-group .col-sm-6, .myForm .row .form-group .col-sm-4 {
            padding-left: 5px;
            padding-right: 5px;
        }

        .widget-body.no-padding {
            margin: 0px 11px 9px;
        }

        .divTabs {
            padding: 10px;
        }

        .form-control {
            width: 95%;
        }

        .btn {
            border-radius: 0;
        }

        .profile-pic > img {
            max-width: 155px;
        }
    </style>
</head>

<!--

TABLE OF CONTENTS.

Use search to find needed section.

===================================================================

|  01. #CSS Links                |  all CSS links and file paths  |
|  02. #FAVICONS                 |  Favicon links and file paths  |
|  03. #GOOGLE FONT              |  Google font link              |
|  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
|  05. #BODY                     |  body tag                      |
|  06. #HEADER                   |  header tag                    |
|  07. #PROJECTS                 |  project lists                 |
|  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
|  09. #MOBILE                   |  mobile view dropdown          |
|  10. #SEARCH                   |  search field                  |
|  11. #NAVIGATION               |  left panel & navigation       |
|  12. #RIGHT PANEL              |  right panel userlist          |
|  13. #MAIN PANEL               |  main panel                    |
|  14. #MAIN CONTENT             |  content holder                |
|  15. #PAGE FOOTER              |  page footer                   |
|  16. #SHORTCUT AREA            |  dropdown shortcuts area       |
|  17. #PLUGINS                  |  all scripts and plugins       |

===================================================================

-->
<!-- #BODY -->
<!-- Possible Classes

* 'smart-style-{SKIN#}'
* 'smart-rtl'         - Switch theme mode to RTL
* 'menu-on-top'       - Switch to top navigation (no DOM change required)
* 'no-menu'			  - Hides the menu completely
* 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
* 'fixed-header'      - Fixes the header
* 'fixed-navigation'  - Fixes the main menu
* 'fixed-ribbon'      - Fixes breadcrumb
* 'fixed-page-footer' - Fixes footer
* 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
-->
<body class="menu-on-top">

    <!-- HEADER -->
    <header id="header" style="margin-top: -16px;">
        <div id="logo-group">

            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo"> <img src="~/img/logo.png" alt="SmartAdmin"> </span>
            <!-- END LOGO PLACEHOLDER -->
            <!-- Note: The activity badge color changes when clicked and resets the number to 0
            Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
            <span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>

            <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
            <div class="ajax-dropdown">

                <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="activity" id="ajax/notify/mail.html">
                        Msgs (14)
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="activity" id="ajax/notify/notifications.html">
                        notify (3)
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="activity" id="ajax/notify/tasks.html">
                        Tasks (4)
                    </label>
                </div>

                <!-- notification content -->
                <div class="ajax-notifications custom-scroll">

                    <div class="alert alert-transparent">
                        <h4>Click a button to show messages here</h4>
                        This blank page message helps protect your privacy, or you can show the first message here automatically.
                    </div>

                    <i class="fa fa-lock fa-4x fa-border"></i>

                </div>
                <!-- end notification content -->
                <!-- footer: refresh area -->
                <span>
                    Last updated on: 12/12/2013 9:43AM
                    <button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
                        <i class="fa fa-refresh"></i>
                    </button>
                </span>
                <!-- end footer -->

            </div>
            <!-- END AJAX-DROPDOWN -->
        </div>

        <!-- projects dropdown -->
        <div class="project-context hidden-xs">

            <span class="label">Projects:</span>
            <span class="project-selector dropdown-toggle" data-toggle="dropdown">Recent projects <i class="fa fa-angle-down"></i></span>

            <!-- Suggestion: populate this list with fetch and push technique -->
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:void(0);">Online e-merchant management system - attaching integration with the iOS</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Notes on pipeline upgradee</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Assesment Report for merchant account</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:void(0);"><i class="fa fa-power-off"></i> Clear</a>
                </li>
            </ul>
            <!-- end dropdown-menu-->

        </div>
        <!-- end projects dropdown -->
        <!-- pulled right: nav area -->
        <div class="pull-right">

            <!-- collapse menu button -->
            <div id="hide-menu" class="btn-header pull-right">
                <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
            </div>
            <!-- end collapse menu -->
            <!-- #MOBILE -->
            <!-- Top menu profile link : this shows only when top menu is active -->
            <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
                <li class="">
                    <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                        <img src="~/img/avatars/sunny.png" alt="John Doe" class="online" />
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="login.html" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- logout button -->
            <div id="logout" class="btn-header transparent pull-right">
                <span> <a href="login.html" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
            </div>
            <!-- end logout button -->
            <!-- search mobile button (this is hidden till mobile view port) -->
            <div id="search-mobile" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
            </div>
            <!-- end search mobile button -->
            <!-- input: search field -->
            <form action="search.html" class="header-search pull-right">
                <input id="search-fld" type="text" name="param" placeholder="Find reports and more" data-autocomplete='[
					"ActionScript",
					"AppleScript",
					"Asp",
					"BASIC",
					"C",
					"C++",
					"Clojure",
					"COBOL",
					"ColdFusion",
					"Erlang",
					"Fortran",
					"Groovy",
					"Haskell",
					"Java",
					"JavaScript",
					"Lisp",
					"Perl",
					"PHP",
					"Python",
					"Ruby",
					"Scala",
					"Scheme"]'>
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
                <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
            </form>
            <!-- end input: search field -->
            <!-- fullscreen button -->
            <div id="fullscreen" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
            </div>
            <!-- end fullscreen button -->
            <!-- #Voice Command: Start Speech -->
            <div id="speech-btn" class="btn-header transparent pull-right hidden-sm hidden-xs">
                <div>
                    <a href="javascript:void(0)" title="Voice Command" data-action="voiceCommand"><i class="fa fa-microphone"></i></a>
                    <div class="popover bottom">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <h4 class="vc-title">Voice command activated <br><small>Please speak clearly into the mic</small></h4>
                            <h4 class="vc-title-error text-center">
                                <i class="fa fa-microphone-slash"></i> Voice command failed
                                <br><small class="txt-color-red">Must <strong>"Allow"</strong> Microphone</small>
                                <br><small class="txt-color-red">Must have <strong>Internet Connection</strong></small>
                            </h4>
                            <a href="javascript:void(0);" class="btn btn-success" onclick="commands.help()">See Commands</a>
                            <a href="javascript:void(0);" class="btn bg-color-purple txt-color-white" onclick="$('#speech-btn .popover').fadeOut(50);">Close Popup</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end voice command -->
            <!-- multiple lang dropdown : find all flags in the flags page -->
            <ul class="header-dropdown-list hidden-xs">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/img/blank.gif" class="flag flag-us" alt="United States"> <span> English (US) </span> <i class="fa fa-angle-down"></i> </a>
                    <ul class="dropdown-menu pull-right">
                        <li class="active">
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-us" alt="United States"> English (US)</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-fr" alt="France"> Français</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-es" alt="Spanish"> Español</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-de" alt="German"> Deutsch</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-jp" alt="Japan"> 日本語</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-cn" alt="China"> 中文</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-it" alt="Italy"> Italiano</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-pt" alt="Portugal"> Portugal</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-ru" alt="Russia"> Русский язык</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="~/img/blank.gif" class="flag flag-kr" alt="Korea"> 한국어</a>
                        </li>

                    </ul>
                </li>
            </ul>
            <!-- end multiple lang -->

        </div>
        <!-- end pulled right: nav area -->

    </header>
    <style>
        #header {
            background-image: -moz-linear-gradient(top,#3b5c9e,#3b5c9e);
        }

        #main {
            background-color: #fff;
        }
    </style>

    <!-- END HEADER -->
    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <aside id="left-panel">

        <!-- User info -->
        <div class="login-info">
            <span>
                <!-- User image size is adjusted inside CSS, it should stay as it -->

                <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                    <img src="~/img/avatars/sunny.png" alt="me" class="online" />
                    <span>
                        john.doe
                    </span>
                    <i class="fa fa-angle-down"></i>
                </a>

            </span>
        </div>
        <!-- end user info -->

        <nav>
            <!--
            NOTE: Notice the gaps after each icon usage <i></i>..
            Please note that these links work a bit different than
            traditional href="" links. See documentation for details.
            -->

            <ul>

                <li class="multiColumns">
                    <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Configration</span></a>
                    <div class="multiColumnsDiv">
                        <div class="multiColumnsDivTitle clearfix">Academic</div>
                        <div class="multiColumnsDivBody clearfix">
                            <div class="clearfix">
                                <div class="col-md-3">
                                    <h3 class="clearfix"><i class="fa fa-cog"></i>Class & Subject </h3>
                                    <a href="#" class="">Manage Students Admin</a>
                                    <a href="#" class="">Manage Classes</a>
                                    <a href="#" class="">Manage Students</a>

                                </div>
                                <div class="col-md-3">
                                    <h3 class="clearfix"><i class="fa fa-cog"></i>Class & Subject </h3>
                                    <a href="#" class="">Manage Students</a>
                                    <a href="#" class="">Manage Classes</a>
                                    <a href="#" class="">Manage Students</a>
                                    <a href="#" class="">Manage Classes</a>
                                    <a href="#" class="">Manage Classes</a>

                                </div>
                                <div class="col-md-3">
                                    <h3 class="clearfix"><i class="fa fa-cog"></i>Class & Subject </h3>
                                    <a href="#" class="">Manage Students</a>
                                    <a href="#" class="">Manage Classes</a>
                                    <a href="#" class="">Manage Students</a>
                                    <a href="#" class="">Manage Classes</a>
                                    <a href="#" class="">Manage Students</a>

                                </div>
                                <div class="col-md-3">
                                    <h3 class="clearfix"><i class="fa fa-cog"></i>Class & Subject </h3>
                                    <a href="#" class="">Manage Students</a>
                                    <a href="#" class="">Manage Classes</a>
                                    <a href="#" class="">Manage Classes</a>
                                </div>
                            </div><hr />
                            <div class="clearfix">
                                <div class="col-md-3">
                                    <h3 class="clearfix"><i class="fa fa-cog"></i>Class & Subject </h3>
                                    <a href="#" class="">Manage Students Admin</a>
                                    <a href="#" class="">Manage Classes</a>
                                    <a href="#" class="">ManageStudents</a>
                                    <a href="#" class="">Manage Students</a>
                                    <a href="#" class="">Manage Classes</a>

                                </div>
                                <div class="col-md-3">
                                    <h3 class="clearfix"><i class="fa fa-cog"></i>Class & Subject </h3>
                                    <a href="#" class="">Manage Students</a>
                                    <a href="#" class="">Manage Students</a>
                                    <a href="#" class="">Manage Classes</a>

                                </div>
                                <div class="col-md-3">
                                    <h3 class="clearfix"><i class="fa fa-cog"></i>Class & Subject </h3>
                                    <a href="#" class="">Manage Students</a>
                                    <a href="#" class="">Manage Classes</a>
                                    <a href="#" class="">Manage Students</a>
                                    <a href="#" class="">Manage Classes</a>

                                </div>
                                <div class="col-md-3">
                                    <h3 class="clearfix"><i class="fa fa-cog"></i>Class & Subject </h3>
                                    <a href="#" class="">Manage Students</a>
                                    <a href="#" class="">Manage Classes</a>
                                    <a href="#" class="">Manage Classes</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>

                <li class="top-menu-invisible">
                    <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">SmartAdmin Intel</span></a>
                    <ul>
                        <li class="">
                            <a href="layouts.html" title="Dashboard"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">App Layouts</span></a>
                        </li>
                        <li class="">
                            <a href="skins.html" title="Dashboard"><i class="fa fa-lg fa-fw fa-picture-o"></i> <span class="menu-item-parent">Prebuilt Skins</span></a>
                        </li>
                        <li>
                            <a href="applayout.html"><i class="fa fa-cube"></i> App Settings</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#!/client"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Clients</span></a>
                </li>
                <li>
                    <a href="#/studentAdd"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Students</span></a>
                </li>



                <li>
                    <a href="#!/parents"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Parents</span></a>
                </li>
                <li>
                    <a href="#!/batch"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span class="menu-item-parent">batches</span></a>
                </li>
                <li>
                    <a href="#!/section"><i class="fa fa-lg fa-fw fa-file-o"></i> <span class="menu-item-parent">Sections</span></a>
                </li>

                <li>
                    <a href="#!/studentaction"><i class="fa fa-lg fa-fw fa-tasks"></i> <span class="menu-item-parent">St Actions</span></a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-puzzle-piece"></i> <span class="menu-item-parent">setting</span></a>
                    <ul>



                        <li>

                            <a href="#!/AdminAssStatus"><i class="fa fa-file-text-o"></i> AdminAssStatus</a>
                        </li>
                        <li>
                            <a href="#!/AdminAssTypes"><i class="fa fa-file-excel-o"></i> AdminAssTypes</a>
                        </li>
                        <li>
                            <a href="#!/adminCategory"><i class="fa fa-file-code-o"></i> adminCategory</a>
                        </li>
                        <li>
                            <a href="#!/admissionTypes"><i class="fa fa-file-audio-o"></i> admissionTypes</a>
                        </li>
                        <li>
                            <a href="#!/admissionnorange"><i class="fa fa-file-archive-o"></i> admission no range</a>
                        </li>
                        <li>
                            <a href="#!/studentnorange"><i class="fa fa-file-word-o"></i> student no range</a>
                        </li>
                        <li>
                            <a href="#!/diseaseList"><i class="fa fa-file-movie-o"></i> Disease List</a>
                        </li>
                        <li>
                            <a href="#!/specialNeedCat"><i class="fa fa-file-pdf-o"></i> special Need Category</a>
                        </li>
                        <li>
                            <a href="#!/nationality"><i class="fa fa-file-picture-o"></i> Nationality</a>
                        </li>
                        <li>
                            <a href="#!/studentforms"><i class="fa fa-file-powerpoint-o"></i> student forms</a>
                        </li>
                        <li>
                            <a href="#!/requirmenttype"><i class="fa fa-file-zip-o"></i> requirment type</a>
                        </li>
                        <li>
                            <a href="#!/country"><i class="fa fa-file-zip-o"></i> country</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-puzzle-piece"></i> <span class="menu-item-parent">Fees</span></a>
                    <ul>
                        <li>
                            <a href="#!/discounttype"><i class="fa fa-file-text-o"></i> discount type</a>
                        </li>
                        <li>
                            <a href="#!/feecategories"><i class="fa fa-file-image-o"></i> fees categories</a>
                        </li>
                        <li>
                            <a href="#!/feestype"><i class="fa fa-file-excel-o"></i> fees type</a>
                        </li>
                        <li>
                            <a href="#!/feesdetails"><i class="fa fa-file-excel-o"></i> fees details</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#!/schoolyear"><i class="fa fa-lg fa-fw fa-file-o"></i> <span class="menu-item-parent">SchoolYear</span></a>
                </li>
                <li>
                    <a href="#!/yearCourses"><i class="fa fa-lg fa-fw fa-file-audio-o"></i> <span class="menu-item-parent">year Courses</span></a>
                </li>

                <li class="chat-users top-menu-invisible">
                    <a href="#"><i class="fa fa-lg fa-fw fa-comment-o"><em class="bg-color-pink flash animated">!</em></i> <span class="menu-item-parent">Smart Chat API <sup>beta</sup></span></a>
                    <ul>
                        <li>
                            <!-- DISPLAY USERS -->
                            <div class="display-users">

                                <input class="form-control chat-user-filter" placeholder="Filter" type="text">

                                <a href="#" class="usr"
                                   data-chat-id="cha1"
                                   data-chat-fname="Sadi"
                                   data-chat-lname="Orlaf"
                                   data-chat-status="busy"
                                   data-chat-alertmsg="Sadi Orlaf is in a meeting. Please do not disturb!"
                                   data-chat-alertshow="true"
                                   data-rel="popover-hover"
                                   data-placement="right"
                                   data-html="true"
                                   data-content="
											<div class='usr-card'>
												<img src='img/avatars/5.png' alt='Sadi Orlaf'>
												<div class='usr-card-content'>
													<h3>Sadi Orlaf</h3>
													<p>Marketing Executive</p>
												</div>
											</div>
										">
                    <i></i>Sadi Orlaf
                </a>

                                <a href="#" class="usr"
                                   data-chat-id="cha2"
                                   data-chat-fname="Jessica"
                                   data-chat-lname="Dolof"
                                   data-chat-status="online"
                                   data-chat-alertmsg=""
                                   data-chat-alertshow="false"
                                   data-rel="popover-hover"
                                   data-placement="right"
                                   data-html="true"
                                   data-content="
											<div class='usr-card'>
												<img src='img/avatars/1.png' alt='Jessica Dolof'>
												<div class='usr-card-content'>
													<h3>Jessica Dolof</h3>
													<p>Sales Administrator</p>
												</div>
											</div>
										">
                    <i></i>Jessica Dolof
                </a>

                                <a href="#" class="usr"
                                   data-chat-id="cha3"
                                   data-chat-fname="Zekarburg"
                                   data-chat-lname="Almandalie"
                                   data-chat-status="online"
                                   data-rel="popover-hover"
                                   data-placement="right"
                                   data-html="true"
                                   data-content="
											<div class='usr-card'>
												<img src='img/avatars/3.png' alt='Zekarburg Almandalie'>
												<div class='usr-card-content'>
													<h3>Zekarburg Almandalie</h3>
													<p>Sales Admin</p>
												</div>
											</div>
										">
                    <i></i>Zekarburg Almandalie
                </a>

                                <a href="#" class="usr"
                                   data-chat-id="cha4"
                                   data-chat-fname="Barley"
                                   data-chat-lname="Krazurkth"
                                   data-chat-status="away"
                                   data-rel="popover-hover"
                                   data-placement="right"
                                   data-html="true"
                                   data-content="
											<div class='usr-card'>
												<img src='img/avatars/4.png' alt='Barley Krazurkth'>
												<div class='usr-card-content'>
													<h3>Barley Krazurkth</h3>
													<p>Sales Director</p>
												</div>
											</div>
										">
                    <i></i>Barley Krazurkth
                </a>

                                <a href="#" class="usr offline"
                                   data-chat-id="cha5"
                                   data-chat-fname="Farhana"
                                   data-chat-lname="Amrin"
                                   data-chat-status="incognito"
                                   data-rel="popover-hover"
                                   data-placement="right"
                                   data-html="true"
                                   data-content="
											<div class='usr-card'>
												<img src='img/avatars/female.png' alt='Farhana Amrin'>
												<div class='usr-card-content'>
													<h3>Farhana Amrin</h3>
													<p>Support Admin <small><i class='fa fa-music'></i> Playing Beethoven Classics</small></p>
												</div>
											</div>
										">
                    <i></i>Farhana Amrin (offline)
                </a>

                                <a href="#" class="usr offline"
                                   data-chat-id="cha6"
                                   data-chat-fname="Lezley"
                                   data-chat-lname="Jacob"
                                   data-chat-status="incognito"
                                   data-rel="popover-hover"
                                   data-placement="right"
                                   data-html="true"
                                   data-content="
											<div class='usr-card'>
												<img src='img/avatars/male.png' alt='Lezley Jacob'>
												<div class='usr-card-content'>
													<h3>Lezley Jacob</h3>
													<p>Sales Director</p>
												</div>
											</div>
										">
                    <i></i>Lezley Jacob (offline)
                </a>

                                <a href="ajax/chat.html" class="btn btn-xs btn-default btn-block sa-chat-learnmore-btn">About the API</a>

                            </div>
                            <!-- END DISPLAY USERS -->
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>


        <span class="minifyme" data-action="minifyMenu">
            <i class="fa fa-arrow-circle-left hit"></i>
        </span>

    </aside>
    <!-- END NAVIGATION -->
    <!-- MAIN PANEL -->
    @*<ng-view></ng-view>*@
    @RenderBody()
    <!-- END MAIN PANEL -->
    <!-- PAGE FOOTER -->
    <div class="page-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <span class="txt-color-white">SmartAdmin 1.8.2 <span class="hidden-xs"> - Web Application Framework</span> © 2014-2015</span>
            </div>

            <div class="col-xs-6 col-sm-6 text-right hidden-xs">
                <div class="txt-color-white inline-block">
                    <i class="txt-color-blueLight hidden-mobile">Last account activity <i class="fa fa-clock-o"></i> <strong>52 mins ago &nbsp;</strong> </i>
                    <div class="btn-group dropup">
                        <button class="btn btn-xs dropdown-toggle bg-color-blue txt-color-white" data-toggle="dropdown">
                            <i class="fa fa-link"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right text-left">
                            <li>
                                <div class="padding-5">
                                    <p class="txt-color-darken font-sm no-margin">Download Progress</p>
                                    <div class="progress progress-micro no-margin">
                                        <div class="progress-bar progress-bar-success" style="width: 50%;"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="padding-5">
                                    <p class="txt-color-darken font-sm no-margin">Server Load</p>
                                    <div class="progress progress-micro no-margin">
                                        <div class="progress-bar progress-bar-success" style="width: 20%;"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="padding-5">
                                    <p class="txt-color-darken font-sm no-margin">Memory Load <span class="text-danger">*critical*</span></p>
                                    <div class="progress progress-micro no-margin">
                                        <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="padding-5">
                                    <button class="btn btn-block btn-default">refresh</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE FOOTER -->
    <!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
    Note: These tiles are completely responsive,
    you can add as many as you like
    -->
    <div id="shortcut">
        <ul>
            <li>
                <a href="inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
            </li>
            <li>
                <a href="calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
            </li>
            <li>
                <a href="gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
            </li>
            <li>
                <a href="invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
            </li>
            <li>
                <a href="gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
            </li>
            <li>
                <a href="profile.html" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
            </li>
        </ul>
    </div>
    <!-- END SHORTCUT AREA -->
    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="~/Scripts/plugin/pace/pace.min.js"></script>

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="js/libs/jquery-2.1.1.min.js"><\/script>');
        }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');
        }
    </script>


    <!-- PAGE RELATED PLUGIN(S) -->

</body>

</html>

<script src="~/Scripts/angular.js"></script>
@*@Scripts.Render("~/bundles/Script")*@

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
<script src="~/Scripts/dirPagination.js"></script>
<script src="~/Scripts/angular-ui-notification.min.js"></script>
<script src="~/App/app.js"></script>


<!-- IMPORTANT: APP CONFIG -->
<script src="~/Scripts/app.config.js"></script>

<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
<script src="~/Scripts/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

<!-- CUSTOM NOTIFICATION -->
<script src="~/Scripts/notification/SmartNotification.min.js"></script>

<!-- JARVIS WIDGETS -->
<script src="~/Scripts/smartwidgets/jarvis.widget.min.js"></script>

<!-- EASY PIE CHARTS -->
<script src="~/Scripts/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

<!-- SPARKLINES -->
<script src="~/Scripts/plugin/sparkline/jquery.sparkline.min.js"></script>

<!-- JQUERY VALIDATE -->
<script src="~/Scripts/plugin/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="~/Scripts/plugin/masked-input/jquery.maskedinput.min.js"></script>

<!-- JQUERY SELECT2 INPUT -->
<script src="~/Scripts/plugin/select2/select2.min.js"></script>

<!-- JQUERY UI + Bootstrap Slider -->
<script src="~/Scripts/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

<!-- browser msie issue fix -->
<script src="~/Scripts/plugin/msie-fix/jquery.mb.browser.min.js"></script>

<!-- FastClick: For mobile devices -->
<script src="~/Scripts/plugin/fastclick/fastclick.min.js"></script>

<!--[if IE 8]>

    <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

<![endif]-->
<!-- Demo purpose only -->
<script src="~/Scripts/demo.min.js"></script>

<!-- MAIN APP JS FILE -->
<script src="~/Scripts/app.min.js"></script>

<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
<!-- Voice command : plugin -->
<script src="~/Scripts/speech/voicecommand.min.js"></script>

<!-- SmartChat UI : plugin -->
<script src="~/Scripts/smart-chat-ui/smart.chat.ui.min.js"></script>
<script src="~/Scripts/smart-chat-ui/smart.chat.manager.min.js"></script>
<script src="~/App/Directives/bootbox.js"></script>
<script src="~/App/Directives/bootbox.min.js"></script>
 @*@Scripts.Render("~/bundles/App/Directives")*@
@Scripts.Render("~/bundles/App")
