<div ng-controller="hierarchyController">
    <div class="leftTitle">
        <i></i>&nbsp;Baches Details
    </div>

    <div class="" style="border-left: 1px solid #dddddd">

        <form class="form-horizontal" id="myformelements" name="bachesForm" novalidate role="form">
            <div class="divTabsTitle clearfix">
                <button type="submit" class="btn btn-primary pull-right" ng-click="saveBaches(bachesForm)" ng-disabled="admissionAssStatussForm.$invalid"><i class="fa fa-save"></i> {{saveText}}</button>
            </div>
            <br />
            <div class="form-group" ng-class="{'has-error' : bachesForm.crs_code.$invalid && bachesForm.crs_code.$dirty}">
                <label for="crs_code" class=" control-label">Course code</label>
                <div class="col-sm-12">
                    <input type="text" id="crs_code" name="crs_code" class="form-control"
                           ng-model="model.crs_code" ng-required="true"  readonly/>
                    <span class="help-block" ng-if="bachesForm.crs_code.$error.required  && bachesForm.crs_code.$dirty">Course code is required</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : bachesForm.btc_code.$invalid && bachesForm.btc_code.$dirty}">
                <label for="btc_code" class=" control-label">Baches code</label>
                <div class="col-sm-12">
                    <input type="text" id="btc_code" name="btc_code" class="form-control"
                           ng-model="model.btc_code" ng-required="true" />
                    <span class="help-block" ng-if="bachesForm.btc_code.$error.required  && bachesForm.btc_code.$dirty">Baches code is required</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : bachesForm.btc_ArName.$invalid && bachesForm.btc_ArName.$dirty}">
                <div class="col-sm-12">
                    <label for="btc_ArName" class="control-label">Arabic Name</label>
                    <input type="text" id="btc_ArName" name="btc_ArName" class="form-control"
                           ng-model="model.btc_ArName" ng-required="true" />
                    <span class="help-block" ng-if="bachesForm.btc_ArName.$error.required  && bachesForm.btc_ArName.$dirty">Ar Name is required</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : bachesForm.btc_EnName.$invalid && bachesForm.btc_EnName.$dirty}">
                <div class="col-sm-12">
                    <label for="btc_ArName" class="control-label">English Name</label>
                    <input type="text" id="btc_EnName" name="btc_EnName" class="form-control"
                           ng-model="model.btc_EnName" ng-required="true" />

                    <span class="help-block" ng-if="bachesForm.btc_EnName.$error.required  && bachesForm.btc_EnName.$dirty">EnName is required</span>
                </div>
            </div>

        </form>


    </div>
</div> 