<div ng-controller="hierarchyController">
    <div class="leftTitle">
        <i></i>&nbsp;Client Details
    </div>

    <div class="leftProfile" ng-show="isupdate">
        <div class="row">

            <div class="col-sm-6 profile-pic">
                <img ng-src="{{model.clt_logo}}" height="150px" alt="Image" />
                <br />
                <span id="fileselector">
                    <label class="btn btn-danger" for="upload-file-selector">
                        <input id="upload-file-selector" type="file" accept=".jpg,.jpeg,.png" onchange="angular.element(this).scope().savePhotoclient(this.files)">
                        <i class="fa_icon icon-upload-alt margin-correction"></i>upload image
                    </label>
                </span>
            </div>
            <div class="col-sm-6">
                <h1>
                    <span class="semi-bold">{{model.clt_ArName}}</span>
                    <br>
                    <small> {{model.clt_email}}</small>
                </h1>

            </div>
            <style>
                #fileselector {
                    margin: 10px;
                }

                #upload-file-selector {
                    display: none;
                }

                .margin-correction {
                    margin-right: 10px;
                }
            </style>



        </div>
    </div>
    <!-- -------- -->
    <div class="" style="border-left: 1px solid #dddddd">

        <form class="form-horizontal" id="myformelements" name="clientForm" novalidate role="form">
            <div class="divTabsTitle clearfix">
                <button type="submit" class="btn btn-primary pull-right" ng-click="saveClient(clientForm)" ng-disabled="clientForm.$invalid"><i class="fa fa-save"></i> {{saveText}}</button>
           </div>
            <br />
            <div class="form-group" ng-class="{'has-error' : clientForm.clt_ArName.$invalid && clientForm.clt_ArName.$dirty}">
                <div class="col-sm-12">
                    <label for="clt_ArName" class="control-label">Arabic Name</label>
                    <input type="text" id="clt_ArName" name="clt_ArName" class="form-control"
                           ng-model="model.clt_ArName" ng-required="true" />
                    <span class="help-block" ng-if="clientForm.clt_ArName.$error.required  && clientForm.clt_ArName.$dirty">Ar Name is required</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : clientForm.clt_EnName.$invalid && clientForm.clt_EnName.$dirty}">
                <div class="col-sm-12">
                    <label for="clt_ArName" class="control-label">English Name</label>
                    <input type="text" id="clt_EnName" name="clt_EnName" class="form-control"
                           ng-model="model.clt_EnName" ng-required="true" />

                    <span class="help-block" ng-if="clientForm.clt_EnName.$error.required  && clientForm.clt_EnName.$dirty">EnName is required</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="clt_address1" class="control-label">Address 1</label>

                    <input type="text" id="clt_address1" name="clt_address1" class="form-control"
                           ng-model="model.clt_address1" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="clt_address2" class="control-label">Address 2</label>

                    <input type="text" id="clt_address2" name="clt_address2" class="form-control"
                           ng-model="model.clt_address2" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="clt_phone" class="control-label">Phone</label>

                    <input type="text" id="clt_phone" name="clt_phone" class="form-control"
                           ng-model="model.clt_phone" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error' : clientForm.clt_email.$touched && clientForm.clt_email.$invalid}">
                <div class="col-sm-12">
                    <label for="clt_email" class="clt_email-label">Email</label>

                    <input type="text" id="clt_email" name="clt_email" class="form-control"
                           ng-model="model.clt_email" />
                    <span class="help-block" ng-show="clientForm.clt_email.$touched && clientForm.clt_email.$invalid">input valid mail</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : clientForm.clt_website.$touched && clientForm.clt_website.$invalid}">
                <div class="col-sm-12">
                    <label for="clt_website" class="control-label">Website</label>

                    <input type="text" id="clt_website" name="clt_website" class="form-control"
                           ng-model="model.clt_website" />
                    <span class="help-block" ng-if="clientForm.clt_website.$touched && clientForm.clt_website.$invalid">input valid URL</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="clt_CR" class="control-label">CR</label>

                    <input type="text" id="clt_CR" name="clt_CR" class="form-control"
                           ng-model="model.clt_CR" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="clt_Tax" class="control-label">Tax</label>

                    <input type="text" id="clt_Tax" name="clt_Tax" class="form-control"
                           ng-model="model.clt_Tax" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label for="clt_licNo" class="control-label">lic No</label>

                    <input type="text" id="clt_licNo" name="clt_licNo" class="form-control"
                           ng-model="model.clt_licNo" />
                </div>
            </div>

            <br />


        </form>


    </div>
</div> 