<div ng-controller="hierarchyController">
    <div class="leftTitle">
        <i></i>&nbsp;Courses Details
    </div>

    <div class="" style="border-left: 1px solid #dddddd">

        <form class="form-horizontal" id="myformelements" name="coursesForm" novalidate role="form">
            <div class="divTabsTitle clearfix">
                <button type="submit" class="btn btn-primary pull-right" ng-click="saveCourses(coursesForm)" ng-disabled="admissionAssStatussForm.$invalid"><i class="fa fa-save"></i> {{saveText}}</button>
           </div>
            <br />
         
            <div class="form-group" ng-class="{'has-error' : coursesForm.crs_code.$invalid && coursesForm.crs_code.$dirty}">
                <label for="crs_code" class=" control-label">Course code</label>
                <div class="col-sm-12">
                    <input type="text" id="crs_code" name="crs_code" class="form-control"
                           ng-model="model.crs_code" ng-required="true" />
                    <span class="help-block" ng-if="coursesForm.crs_code.$error.required  && coursesForm.crs_code.$dirty">Course code is required</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : coursesForm.crs_ArName.$invalid && coursesForm.crs_ArName.$dirty}">
                <div class="col-sm-12">
                    <label for="crs_ArName" class="control-label">Arabic Name</label>
                    <input type="text" id="crs_ArName" name="crs_ArName" class="form-control"
                           ng-model="model.crs_ArName" ng-required="true" />
                    <span class="help-block" ng-if="coursesForm.crs_ArName.$error.required  && coursesForm.crs_ArName.$dirty">Ar Name is required</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : coursesForm.crs_EnName.$invalid && coursesForm.crs_EnName.$dirty}">
                <div class="col-sm-12">
                    <label for="crs_ArName" class="control-label">English Name</label>
                    <input type="text" id="crs_EnName" name="crs_EnName" class="form-control"
                           ng-model="model.crs_EnName" ng-required="true" />

                    <span class="help-block" ng-if="coursesForm.crs_EnName.$error.required  && coursesForm.crs_EnName.$dirty">EnName is required</span>
                </div>
            </div>
      
        </form>


    </div>
</div> 