<div ng-controller="hierarchyController">
    <div class="leftTitle">
        <i></i>&nbsp;Divission Details
    </div>

    <div class="leftProfile" ng-show="isupdate">
        <div class="row">

            <div class="col-sm-6 profile-pic">
                <img ng-src="{{model.div_logo}}" height="150px" alt="Image" />
                <br />
                <span id="fileselector">
                    <label class="btn btn-danger" for="upload-file-selector">
                        <input id="upload-file-selector" type="file" accept=".jpg,.jpeg,.png" onchange="angular.element(this).scope().savePhotodivission(this.files)">
                        <i class="fa_icon icon-upload-alt margin-correction"></i>upload image
                    </label>
                </span>
            </div>
            <div class="col-sm-6">
                <h1>
                    <span class="semi-bold">{{model.div_ArName}}</span>
                    <br>
                    <small> {{model.div_email}}</small>
                </h1>

            </div>
            <style>
                #fileselector {
                    margin: 10px;
                }

                #upload-file-selector {
                    display: none;
                }

                .margin-correction {
                    margin-right: 10px;
                }
            </style>



        </div>
    </div>
    <!-- -------- -->
    <div class="" style="border-left: 1px solid #dddddd">

        <form class="form-horizontal" id="myformelements" name="divissionForm" novalidate role="form">
            <div class="divTabsTitle clearfix">
                <button type="submit" class="btn btn-primary pull-right" ng-click="saveDivission(divissionForm)" ng-disabled="divissionForm.$invalid"><i class="fa fa-save"></i> {{saveText}}</button>
           </div>
            <br />
            <div class="form-group" ng-class="{'has-error' : divissionForm.ent_code.$invalid && divissionForm.ent_code.$dirty}">
                <label for="ent_code" class=" control-label">Entity code</label>
                <div class="col-sm-12">
                    <input type="text" id="ent_code" name="ent_code" class="form-control"
                           ng-model="model.ent_code" ng-required="true"  readonly/>
                    <span class="help-block" ng-if="divissionForm.ent_code.$error.required  && divissionForm.ent_code.$dirty">ent_code is required</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : divissionForm.div_code.$invalid && divissionForm.div_code.$dirty}">
                <label for="div_code" class=" control-label">Divission code</label>
                <div class="col-sm-12">
                    <input type="text" id="div_code" name="div_code" class="form-control"
                           ng-model="model.div_code" ng-required="true" />
                    <span class="help-block" ng-if="divissionForm.div_code.$error.required  && divissionForm.div_code.$dirty">div_code is required</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : divissionForm.div_ArName.$invalid && divissionForm.div_ArName.$dirty}">
                <div class="col-sm-12">
                    <label for="div_ArName" class="control-label">Arabic Name</label>
                    <input type="text" id="div_ArName" name="div_ArName" class="form-control"
                           ng-model="model.div_ArName" ng-required="true" />
                    <span class="help-block" ng-if="divissionForm.div_ArName.$error.required  && divissionForm.div_ArName.$dirty">Ar Name is required</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : divissionForm.div_ENName.$invalid && divissionForm.div_ENName.$dirty}">
                <div class="col-sm-12">
                    <label for="div_ArName" class="control-label">English Name</label>
                    <input type="text" id="div_ENName" name="div_ENName" class="form-control"
                           ng-model="model.div_ENName" ng-required="true" />

                    <span class="help-block" ng-if="divissionForm.div_ENName.$error.required  && divissionForm.div_ENName.$dirty">EnName is required</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="div_address1" class="control-label">Address 1</label>

                    <input type="text" id="div_address1" name="div_address1" class="form-control"
                           ng-model="model.div_address1" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="div_address2" class="control-label">Address 2</label>

                    <input type="text" id="div_address2" name="div_address2" class="form-control"
                           ng-model="model.div_address2" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="div_phone" class="control-label">Phone</label>

                    <input type="text" id="div_phone" name="div_phone" class="form-control"
                           ng-model="model.div_phone" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error' : divissionForm.div_email.$touched && divissionForm.div_email.$invalid}">
                <div class="col-sm-12">
                    <label for="div_email" class="div_email-label">Email</label>

                    <input type="text" id="div_email" name="div_email" class="form-control"
                           ng-model="model.div_email" />
                    <span class="help-block" ng-show="divissionForm.div_email.$touched && divissionForm.div_email.$invalid">input valid mail</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : divissionForm.div_website.$touched && divissionForm.div_website.$invalid}">
                <div class="col-sm-12">
                    <label for="div_website" class="control-label">Website</label>

                    <input type="text" id="div_website" name="div_website" class="form-control"
                           ng-model="model.div_website" />
                    <span class="help-block" ng-if="divissionForm.div_website.$touched && divissionForm.div_website.$invalid">input valid URL</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="div_CR" class="control-label">CR</label>

                    <input type="text" id="div_CR" name="div_CR" class="form-control"
                           ng-model="model.div_CR" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="div_Tax" class="control-label">Tax</label>

                    <input type="text" id="div_Tax" name="div_Tax" class="form-control"
                           ng-model="model.div_Tax" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label for="div_licNo" class="control-label">lic No</label>

                    <input type="text" id="div_licNo" name="div_licNo" class="form-control"
                           ng-model="model.div_licNo" />
                </div>
            </div>

            <br />


        </form>


    </div>
</div> 