<div ng-controller="hierarchyController">
    <div class="leftTitle">
        <i></i>&nbsp;Entity Details
    </div>

    <div class="leftProfile" ng-show="isupdate">
        <div class="row">

            <div class="col-sm-6 profile-pic">
                <img ng-src="{{model.ent_logo}}" height="150px" alt="Image" />
                <br />
                <span id="fileselector">
                    <label class="btn btn-danger" for="upload-file-selector">
                        <input id="upload-file-selector" type="file" accept=".jpg,.jpeg,.png" onchange="angular.element(this).scope().savePhotoentity(this.files)">
                        <i class="fa_icon icon-upload-alt margin-correction"></i>upload image
                    </label>
                </span>
            </div>
            <div class="col-sm-6">
                <h1>
                    <span class="semi-bold">{{model.ent_ArName}}</span>
                    <br>
                    <small> {{model.ent_email}}</small>
                </h1>

            </div>
            <style>
                #fileselector {
                    margin: 10px;
                }

                #upload-file-selector {
                    display: none;
                }

                .margin-correction {
                    margin-right: 10px;
                }
            </style>



        </div>
    </div>
    <!-- -------- -->
    <div class="" style="border-left: 1px solid #dddddd">

        <form class="form-horizontal" id="myformelements" name="entityForm" novalidate role="form">
            <div class="divTabsTitle clearfix">
                <button type="submit" class="btn btn-primary pull-right" ng-click="saveentity(entityForm)" ng-disabled="entityForm.$invalid"><i class="fa fa-save"></i> {{saveText}}</button>
           </div>
            <br />
            <div class="form-group" ng-class="{'has-error' : entityForm.clt_code.$invalid && entityForm.clt_code.$dirty}">
                <label for="clt_code" class="control-label">Client code</label>
                <div class="col-sm-12">
                    <input type="text" id="clt_code" name="clt_code" class="form-control"
                           ng-model="model.clt_code" ng-required="true" readonly />
                </div>
                <span class="help-block" ng-if="entityForm.clt_code.$error.required  && entityForm.clt_code.$dirty">clt_code is required</span>
            </div>
            <div class="form-group" ng-class="{'has-error' : entityForm.ent_code.$invalid && entityForm.ent_code.$dirty}">
                <label for="ent_code" class=" control-label">Entity code</label>
                <div class="col-sm-12">
                    <input type="text" id="ent_code" name="ent_code" class="form-control"
                           ng-model="model.ent_code" ng-required="true" />
                    <span class="help-block" ng-if="entityForm.ent_code.$error.required  && entityForm.ent_code.$dirty">ent_code is required</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : entityForm.ent_ArName.$invalid && entityForm.ent_ArName.$dirty}">
                <div class="col-sm-12">
                    <label for="ent_ArName" class="control-label">Arabic Name</label>
                    <input type="text" id="ent_ArName" name="ent_ArName" class="form-control"
                           ng-model="model.ent_ArName" ng-required="true" />
                    <span class="help-block" ng-if="entityForm.ent_ArName.$error.required  && entityForm.ent_ArName.$dirty">Ar Name is required</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : entityForm.ent_ENName.$invalid && entityForm.ent_ENName.$dirty}">
                <div class="col-sm-12">
                    <label for="ent_ArName" class="control-label">English Name</label>
                    <input type="text" id="ent_ENName" name="ent_ENName" class="form-control"
                           ng-model="model.ent_ENName" ng-required="true" />

                    <span class="help-block" ng-if="entityForm.ent_ENName.$error.required  && entityForm.ent_ENName.$dirty">EnName is required</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="ent_address1" class="control-label">Address 1</label>

                    <input type="text" id="ent_address1" name="ent_address1" class="form-control"
                           ng-model="model.ent_address1" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="ent_address2" class="control-label">Address 2</label>

                    <input type="text" id="ent_address2" name="ent_address2" class="form-control"
                           ng-model="model.ent_address2" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="ent_phone" class="control-label">Phone</label>

                    <input type="text" id="ent_phone" name="ent_phone" class="form-control"
                           ng-model="model.ent_phone" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error' : entityForm.ent_email.$touched && entityForm.ent_email.$invalid}">
                <div class="col-sm-12">
                    <label for="ent_email" class="ent_email-label">Email</label>

                    <input type="text" id="ent_email" name="ent_email" class="form-control"
                           ng-model="model.ent_email" />
                    <span class="help-block" ng-show="entityForm.ent_email.$touched && entityForm.ent_email.$invalid">input valid mail</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : entityForm.ent_website.$touched && entityForm.ent_website.$invalid}">
                <div class="col-sm-12">
                    <label for="ent_website" class="control-label">Website</label>

                    <input type="text" id="ent_website" name="ent_website" class="form-control"
                           ng-model="model.ent_website" />
                    <span class="help-block" ng-if="entityForm.ent_website.$touched && entityForm.ent_website.$invalid">input valid URL</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="ent_CR" class="control-label">CR</label>

                    <input type="text" id="ent_CR" name="ent_CR" class="form-control"
                           ng-model="model.ent_CR" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="ent_Tax" class="control-label">Tax</label>

                    <input type="text" id="ent_Tax" name="ent_Tax" class="form-control"
                           ng-model="model.ent_Tax" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <label for="ent_licNo" class="control-label">lic No</label>

                    <input type="text" id="ent_licNo" name="ent_licNo" class="form-control"
                           ng-model="model.ent_licNo" />
                </div>
            </div>

            <br />


        </form>


    </div>
</div> 