﻿<div id="main" role="main">
    <div id="ribbon">
        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>
        <ol class="breadcrumb">
            <li>Hierarchy Tree</li>

        </ol>
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">
                    <i class="fa fa-desktop fa-fw "></i> Hierarchy Tree
                </h1>
            </div>
        </div>
        <!-- widget grid -->

        <section id="widget-grid" class="">
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 sortable-grid ui-sortable">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
                        <header role="heading">
                            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                            <h2>Default Tabs with border </h2>
                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>
                        <!-- widget div-->
                        <div role="contentinfo" class="myForm">
                            <div class="row">
                                <!-- -- -- -- -- -- -- -- -- -- -- -- -- col-md-5 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
                                <div class="col-md-5">
                                    <div class="leftTitle">Hierarchy Tree List
                                        <a href="javascript:void(0)" ng-click="newClient()" class="btn  btn-success pull-right"><i class="fa fa-plus"></i> New Client</a>

                                    </div>

                                    <div class="leftCat">
                                        <div class="table-responsive" style="border-top:1px solid #ddd;border-bottom:1px solid #ddd">

                                            <style>
                                                .fa-minus-circle {
                                                    border: none !important;
                                                    background: transparent !important;
                                                }
                                                .leftCat ul li {
                                                    border-bottom: 0;
                                                }
                                            </style>

                                            <div class="tree smart-form">
                                                <ul role="tree" style="display: block !important">
                                                    <li class="parent_li" role="treeitem" ng-repeat="client in items">
                                                        <span title="Collapse this branch">
                                                            <i class="fa fa-lg " ng-class="showgets(client)" ng-click="showStates(client)"></i>
                                                            <i class="fa fa-lg fa-user-secret  txt-color-yellow"></i>
                                                            {{client.Cnt_name}}
                                                            <i class="fa fa-lg fa-pencil-square txt-color-green" ng-click="clienttapShow(client.Cnt_id)"></i>
                                                            <i class="fa fa-lg fa-plus-square txt-color-blue" ng-click="newEntity(client.Cnt_id,client.Cnt_code)"></i>
                                                            <i class="fa fa-lg fa-trash txt-color-red" ng-click="deleteClientDataById(client.Cnt_id)"></i>
                                                        </span>
                                                        <ul role="group"style="display: block !important">
                                                            <li class="parent_li" role="treeitem" ng-repeat="entity in client.EntityModels" ng-show="client.active">
                                                                <span title="Collapse this branch">
                                                                    <i class="fa fa-lg " ng-class="showgets(entity)" ng-click="showStates(entity)"></i>
                                                                    <i class="fa fa-lg fa-building  txt-color-yellow"></i>
                                                                    {{entity.Ent_name}}
                                                                    <i class="fa fa-lg fa-pencil-square txt-color-green" ng-click="entitytapShow(entity.Ent_id)"></i>
                                                                    <i class="fa fa-lg fa-plus-square txt-color-blue" ng-click="newDivission(entity.Ent_id,entity.Ent_code)"></i>
                                                                    <i class="fa fa-lg fa-trash txt-color-red" ng-click="deleteentityDataById(entity.Ent_id)"></i>
                                                                </span>
                                                                <ul role="group" style="display: block !important">
                                                                    <li class="parent_li" role="treeitem" ng-repeat="divission in entity.DivisionModels" ng-show="entity.active">
                                                                        <span title="Collapse this branch">
                                                                            <i class="fa fa-lg " ng-class="showgets(divission)" ng-click="showStates(divission)"></i>
                                                                            <i class="fa fa-lg fa-home  txt-color-yellow"></i>
                                                                            {{divission.Div_name}}
                                                                            <i class="fa fa-lg fa-pencil-square txt-color-green" ng-click="divissiontapShow(divission.Div_id)"></i>
                                                                            <i class="fa fa-lg fa-plus-square txt-color-blue" ng-click="newCourses(divission.Div_id)"></i>
                                                                            <i class="fa fa-lg fa-trash txt-color-red" ng-click="deleteDivissionDataById(divission.Div_id)"></i>
                                                                        </span>
                                                                        <ul role="group" style="display: block !important">
                                                                            <li class="parent_li" role="treeitem" ng-repeat="course in divission.CourseModels" ng-show="divission.active">
                                                                                <span title="Collapse this branch">
                                                                                    <i class="fa fa-lg " ng-class="showgets(course)" ng-click="showStates(course)"></i>
                                                                                    <i class="fa fa-lg fa-tasks  txt-color-yellow"></i>
                                                                                    {{course.Crs_name}}
                                                                                    <i class="fa fa-lg fa-pencil-square txt-color-green" ng-click="coursestapShow(course.Crs_id)"></i>
                                                                                    <i class="fa fa-lg fa-plus-square txt-color-blue" ng-click="newBaches(course.Crs_id,course.Crs_code)"></i>
                                                                                    <i class="fa fa-lg fa-trash txt-color-red" ng-click="deleteCoursesDataById(course.Crs_id)"></i>
                                                                                </span>
                                                                                <ul role="group" style="display: block !important">
                                                                                    <li ng-repeat="batch in course.BatchModels" ng-show="course.active">
                                                                                        <span>
                                                                                            <i class="fa fa-lg fa-minus-circle"></i>
                                                                                            <i class="fa fa-lg fa-file txt-color-yellow"></i>
                                                                                            {{batch.Btc_name}}
                                                                                            <i class="fa fa-lg fa-pencil-square txt-color-green" ng-click="BachestapShow(batch.Btc_id)"></i>
                                                                                            <i class="fa fa-lg fa-trash txt-color-red" ng-click="deleteBachesDataById(batch.Btc_id)"></i>
                                                                                        </span>
                                                                                    </li>
                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                                <!-- -- -- -- -- -- -- -- -- -- -- end of col-md-5 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
                                <!-- -- -- -- -- -- -- -- -- -- -- -- -- col-md-7  include html-- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
                                <div class="col-md-7">
                                    <div ng-include="pageIncludes"></div>
                                </div>
                                <!-- -- -- -- -- -- -- -- -- -- -- end of col-md-7 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->

                            </div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
        </section>
    </div>
    <!-- END MAIN CONTENT -->
</div>

<link href="../../../../Content/msStyle.css" rel="stylesheet" />