﻿<div id="main" role="main">
    <div id="ribbon">
        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>
        <ol class="breadcrumb">
            <li>Students</li>

        </ol>
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">
                    <i class="fa fa-desktop fa-fw "></i> Students
                </h1>
            </div>
        </div>
        <!-- widget grid -->

        <section id="widget-grid" class="">
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 sortable-grid ui-sortable">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
                        <header role="heading">
                            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                            <h2>Default Tabs with border </h2>
                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>
                        <!-- widget div-->
                        <div role="contentinfo" class="myForm">
                            <div class="row">
                                <!-- -- -- -- -- -- -- -- -- -- -- -- -- col-md-5 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
                                <div class="col-md-5">
                                    <div class="leftTitle">Student List</div>
                                    <div class="leftSearch clearfix">
                                        <div class="form">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3" for="appendbutton">search</label>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="input-group">
                                                                <input ng-model="search" class="form-control" placeholder="Search" id="appendbutton" type="text">
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-search"></i>
                                                                    </button><button class="btn btn-default" type="button">
                                                                        <i class="fa fa-refresh"></i>
                                                                    </button>
                                                                    <button class="btn btn-default" type="button">
                                                                        <i class="fa fa-list"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="leftCat">
                                        <div class="table-responsive" style="border-top:1px solid #ddd;border-bottom:1px solid #ddd">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>ArabicName</th>
                                                        <th>EnglishName</th>
                                                    </tr>
                                                </thead>
                                                <tbody dir-paginate="item in studentsList|filter:search|itemsPerPage:12">
                                                    <tr>
                                                        <td>{{item.stf_id}}</td>
                                                        <td>{{item.stf_arName}} </td>
                                                        <td>{{item.stf_enName}}</td>
                                                        <td>
                                                            <a class='btn btn-xs btn-default' href="#!/actionstudent/{{item.stf_id}}"><i class='fa fa-users'></i></a>
                                                            <button class='btn btn-xs btn-default' data-original-title='Edit Row' ng-click='getItem(item.stf_id)'><i class='fa fa-pencil'></i></button>
                                                            <button class='btn btn-xs btn-default' data-original-title='Cancel' ng-click='delete(item.stf_id)'><i class='fa fa-times'></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            
                                                <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true"> </dir-pagination-controls>
                                        </div>
                                    </div>
                                </div>
                                <!-- -- -- -- -- -- -- -- -- -- -- end of col-md-5 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
                                <!-- -- -- -- -- -- -- -- -- -- -- -- -- col-md-7 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
                                <div class="col-md-7">
                                    <div class="leftTitle"><i></i>Student Details</div>
                                    <div class="divTabs">
                                        <uib-tabset id="myTab1" class="nav nav-tabs bordered">
                                            <uib-tab class="active" index="0" heading="person data">
                                                <!-----------------main student info----------------------------------------->
                                                <form class="form-horizontal" id="myformelements" name="studentsForm"  novalidate role="form">
                                                    <div class="divTabsTitle clearfix">
                                                        <a ng-click="newItem()" class="btn  btn-success pull-right"><i class="fa fa-pencil-square-o"></i>New Student</a>
                                                        <a  class="btn btn-primary  pull-right" ng-click="save(studentsForm)" ng-disabled="studentsForm.$invalid"><i class="fa fa-save"></i> {{saveText}} </a>

                                                        <!--<button type="button" ng-disabled="editstudents.stu00_id==undefined" ng-click="cancelForm()" class="btn btn-danger pull-right"><i class="fa fa-reply"></i> cancel</button>-->
                                                    </div>      
                                                    <div class="form-group row " ng-class="{'has-error' : studentsForm.stf_enName.$error.required  && studentsForm.stf_enName.$dirty}">
                                                        <div class="col-sm-12">
                                                            <label for="stu00_sno" class="control-label">English Name</label>
                                                            <input type="text" id="stf_enName" name="stf_enName" class="form-control"
                                                                   ng-model="model.stf_enName" ng-required="true" />
                                                            <span class="help-block" ng-if="studentsForm.stf_enName.$error.required  && studentsForm.stf_enName.$dirty">English Name is required</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row " ng-class="{'has-error' : studentsForm.stf_arName.$error.required  && studentsForm.stf_arName.$dirty}">
                                                        <div class="col-sm-12">
                                                            <label for="stf_arName" class="control-label">Arabic Name</label>
                                                            <input type="text" id="stf_arName" name="stf_arName" class="form-control"
                                                                   ng-model="model.stf_arName" ng-required="true" />
                                                            <span class="help-block" ng-if="studentsForm.stf_arName.$error.required  && studentsForm.stf_arName.$dirty">Arabic Name is required</span>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="alert alert-danger" ng-if="hasFormError">{{formErrors}}</div>
                                                </form>
                                            </uib-tab>
                                            <uib-tab index="1" heading="Contact info" ng-click="showupdatecontactstudent(editstudents.stu00_id)" ng-hide="true">
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                    <!-- -------- -->
                                </div>
                                <!-- -- -- -- -- -- -- -- -- -- -- end of col-md-7 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->

                            </div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
        </section>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<style>
    /*.leftCat ul{display:flex!important}*/
</style>
<link href="../../../../Content/msStyle.css" rel="stylesheet" />